{{#> layout }}


<div class="max-w-screen-lg p-10 mx-auto font-extralight text-main lg:p-20">
    {{#if current_user}}
    
    {{#if releases}}
    
    {{#each releases}}
    <article id="{{name}}" class="mb-20">
        <h1 class="mb-2 font-display font-extralight">{{name}}</h1>
        <a class="text-sm underline opacity-60 hover:no-underline" href="/releases/{{tag_name}}/{{assets.0.name}}">Download</a>
        <div class="mt-10 type-prose">
            {{{body}}}
        </div>
        <div class="mt-5">
            <p>&mdash;&mdash;&mdash;</p>
        </div>
    </article>
    {{/each}}
    {{/if}}

    {{else}}

    <h1 class="mb-10 font-display font-extralight">Hold it!</h1>
    <p class="mt-5 leading-relaxed">You can't access this without <a href=" /sign_in" class="mt-5 leading-relaxed underline">logging in</a>.</p>
    <p class="mt-5 leading-relaxed">Try <a href="/community" class="mt-5 leading-relaxed underline">joining our community</a> to get access to updates & releases.</p>
    {{/if}}
</div>

{{/layout}}
