{{#> layout }}


<div class="max-w-screen-lg mx-auto text-main font-extralight p-20">
    {{#if releases}}
    <h1 class="text-white text-4xl font-display font-extralight mb-10">Updates</h1>
    {{#each releases}}
    <article id="{{name}}" class="mb-20">
        <h2 class="text-white font-display font-extralight">Zed {{name}}</h2>
        <a class="underline mt-5 leading-7" href="/releases/{{tag_name}}/{{assets.0.name}}">Download</a>
        <div class="mt-5">
            {{{body}}}
        </div>
    </article>
    {{/each}}
    {{else}}

    <h1>Hey!</h1>
    <p>You can't access this without <a href=" /sign_in">logging in</a>.</p>

    {{/if}}
</div>

{{/layout}}
